.ChatContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  input {
    padding: 10px;
    border: 2px solid #ccc;
  }

  .Messages {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    max-height: 500px;

    .Message {
      position: relative;
      max-width: 60%;
      margin-bottom: 10px;
      padding: 10px;

      p {
        margin: 0;
      }

      &.Incoming {
        background-color: rgb(226, 226, 226);
        align-self: flex-start;
        border-radius: 0px 10px 10px 10px;
        white-space: pre-wrap;       /* Включает перенос слов */
        word-wrap: break-word;       /* Переносит длинные слова */
        overflow-wrap: break-word;   /* Альтернативное свойство для переноса длинных слов */

        &::before {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-left: 13px solid transparent;
          border-right: 0px solid transparent;
          border-top: 13px solid rgb(226, 226, 226);
          top: 0;
          left: -12px;
        }
      }

      &.Outgoing {
        background-color: #25d366;
        color: white;
        align-self: flex-end;
        border-radius: 10px 0 10px 10px;
        white-space: pre-wrap;       /* Включает перенос слов */
        word-wrap: break-word;       /* Переносит длинные слова */
        overflow-wrap: break-word;   /* Альтернативное свойство для переноса длинных слов */

        &::before {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-right: 13px solid transparent;
          border-left: 0px solid transparent;
          border-top: 13px solid #25d366;
          top: 0;
          right: -12px;
        }
      }
    }
  }

  .SendMessageForm {
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: white;
    border-top: 1px solid #ddd;

    textarea {
      flex: 1;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      resize: none;
    }

    button {
      display: flex;
      align-items: center;
      padding: 10px;
      background-color: #25d366;
      color: white;
      font-size: 25px;
      font-weight: bold;
      border: none;
      border-radius: 50%;
      width: 35px;
      height: 35px;
    }
  }
}


