@import "./styles/global.scss";

.app {
  width: 100%;
  max-width: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

// .login-form {
//   display: flex;
//   flex-direction: column;
//   gap: 10px;
//   padding: 20px;
// }

// .login-form input {
//   padding: 10px;
//   border: 1px solid #ccc;
//   border-radius: 5px;
// }

// .login-form button {
//   padding: 10px;
//   background-color: #25d366;
//   color: white;
//   border: none;
//   border-radius: 5px;
// }


// .password-input-wrapper {
//   position: relative;
// }

// .password-input-wrapper input {
//   padding-right: 40px; /* Добавляем отступ для иконки */
// }
// .password-input-wrapper button {
//   background: none;
// }
// .password-toggle {
//   position: absolute;
//   right: 0px;
//   top: 50%;
//   transform: translateY(-50%);
//   background: none;
//   border: none;
//   cursor: pointer;

// }

// .password-toggle svg {
//   width: 25px;
//   height: 25px;
//   stroke: #ccc;/* Серый цвет для линии зачеркивания */
//   stroke-width: 2; /* Толщина линии */
// }

